#caseReport {
  padding:6px 12px 30px 12px;
  margin-top:0px;
  margin-bottom:10px;
  height:513px;
  overflow:hidden;
  color:#1d4851;
  font-family:Times New Roman, Times, serif;
  font-size:2.2em;
  line-height:1.6em;
  background:#ffffff;
  border:1px solid #8eb6d8;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
#inputBox {
  padding:6px 12px 30px 12px;
  margin-top:0px;
  margin-bottom:10px;
  overflow:hidden;
  color:#1d4851;
  font-family:Times New Roman, Times, serif;
  font-size:2.2em;
  line-height:1.6em;
  background:#ffffff;
  border:1px solid #8eb6d8;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
